.banner-container {
	position: relative;
	text-align: center;
}

.banner-title {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* 可選，用於提高文字可讀性 */
	color: rgba(255, 255, 255, 0.9);

}



.banner-img {
	height: 95vh;
}

.banner-btn {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.btn {
	background-color: rgb(225, 135, 127);
	border-color: transparent;
}

.btn:hover {
	background-color: rgb(225, 135, 127, 0.5);
	border-color: transparent;
}

.title {
	color: rgb(141, 171, 217)
}

.border {
	border-color: rgb(141, 171, 217)
}

.container {
	margin-bottom: 80px;
}

.flag {
	aspect-ratio: 3/2;
	width: 100%; /* 也可以換成任何你想要的寬度 */
	object-fit: cover;
	object-position: center;
}